@media only screen and (max-width:426px) {
    .modal-dialog {
        max-width: 70% !important;
        margin: 2vh auto !important;
    }
}

@media only screen and (max-width:769px) {
    .profile2 {
        width: auto;
        height: auto;
    }

    a.live_btn {
        padding: 10px 34px 11px 34px;
    }
}

@media only screen and (max-width:1024px) {
    a.git_btn {
        display: block;
        margin-top: 20px;
    }

    a.tag2 {
        right: -25px;
    }

    .about_me .info br {
        display: none;
    }

    a.live_btn {
        display: block;
    }
}

@media only screen and (max-width:1200px) {
    .home br {
        display: none;
    }
}


@media only screen and (min-width:1025px) and (max-width: 1400px) {
    .live_btns {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
}